li {
	background-color: tan;
}

/* nth-child
	2nd-child
	1st-child
	n is just a placeholder for a number 
*/
li:nth-child(3n),
li:nth-child(2n) {
	background-color: darkseagreen;
}
/* 
li:nth-child(even){
	background-color: lightgrey;
} */

/* 
every 2nd list's marker: 
	li:nth-child(even)::marker
vs 
every 2nd marker on every list: 
	li::marker:nth-child(even)
*/
li:nth-child(even)::marker{
	color: blue;
}

/*
ul:nth-child(2n) { 
	list-style-type: none;
	color: hotpink
}
*/



h3 {
	color: red;
	background-color: darkseagreen;
}

#bananas {
	color: blue;
}

.coolClass {
	color:hotpink;
}

h1 {
	color: blue;
	background-color: green;
}

h1 {
	color: #5ccbe4;
}